<h1>Créer une category</h1>


<%=form_for @categorie do |f| %>

<div class="form-group">
  <%=f.text_field :name, placeholder:'name', class:'form-control'%>
</div>

<div class="form-group">
  <%=f.text_field :slug, placeholder:'slug', class:'form-control'%>
</div>

<div class="form-group">
  <button type="submit" class="btn btn-primary">Submit</button>
</div>

<%end%>
